

.shop-footer a 
{
    text-decoration: none;
    color: white;
    margin-right: 3rem;
    font-size: 1.5rem;
}

.shop-footer a:hover
{
    font-size: 1.7rem;
}

tbody a 
{
    text-decoration: none;
}