@model IEnumerable<Film>



<div class="container mt-4"> 
	<div class="row g-3"> 
			@foreach (var film in Model)
			{
			<div class="col-6 col-md-4 col-lg-3">
				<a href="@Url.Action("Details", "Films", new { filmId = film.Id })"><img src="~/content/grafiki/@film.Poster" class="img-fluid rounded"> </a>
			</div>
			}
	</div>
</div>